<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- 引入 menu.ejs 模板 -->
    <% include ../menu %>

    <h1><%= title %></h1>
    <p>Fill in the form below to add a new post!</p>

    <% include ../messages %>

    <form method='POST'>
        <p>
            <input type='text' name='entry[title]' required placeholder='Title' style='width:400px;' />
        </p>
        <p>
            <textarea name='entry[body]' required placeholder='Body' style='width:600px;min-height:200px;'></textarea>
        </p>
        <p>
            <input type='submit' value='Post' />
        </p>
    </form>

  </body>
</html>
