<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="photo">
        <h2><%=photo.name %></h2>
        <a href='/photo/<%=photo.id %>/download'>
            <img src='/photos/<%=photo.path %>' />
        </a>
    </div>
  </body>
</html>
